## BDAT 1004 â€“ Data Programming - Problem Set 2
***

### Question 1
<div style='margin-left:20px;'>
<span >
Consider the following Python module:<br>
<div style='margin-left:40px;height:136px;width:300px;background:MintCream;border:1px solid;'>
<div style='padding:8px;'>
&emsp;a = 0<br>
&emsp;<b>def</b> b():<br>
&emsp;&emsp; <b>global</b> a<br>
&emsp;&emsp; a = c(a)<br>
&emsp;<b>def</b> c(a):<br>
&emsp;&emsp; <b>return</b> a + 2<br>
</div>
</div>
After importing the module into the interpreter, you execute:<br>
<div style='margin-left:40px;height:96px;width:300px;background:MintCream;border:1px solid;border:1px solid;'>
<div style='padding:8px;'>
&emsp;>>> b()<br>
&emsp;>>> b()<br>
&emsp;>>> b()<br>
&emsp;>>> a<br>
</div>
</div>
What value is displayed when the last expression (a) is evaluated? Explain your<br>
answer by indicating what happens in every executed statement.<br>
</span>
</div>

#### Solution:

In [1]:
a = 0
def b():
    global a
    a = c(a)

In [2]:
def c(a):
    return a + 2

In [3]:
b()
b()
b()

In [4]:
a

6

<span style="color:blue">Answer:</span><br>
The value of the last expression(a) is : 6<br>
- When we execute the function **b**(), it use the value of **'a'** from the global namespace as we used the global keyword.<br>
- Since the same **'a'** is passed as an argument to the function **c**() and updated again in **b**(),<br> the global **'a'** variable gets updated whenever the function **b**() is called.<br>
- Since the function **b**() is called three times, the variable **'a'** gets added with the number '2' three times, hence the output of the last expression is: **6**.<br>

### Question 2
<div style='margin-left:20px;'>
<span>   
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:<br>
<div style='margin-left:40px;height:221px;width:500px;background:MintCream;border:1px solid;'>
    <div style='padding:8px;'>
&emsp;>>> fileLength('midterm.py')<br>
&emsp;284<br>
&emsp;>>> fileLength('idterm.py')<br>
&emsp;Traceback (most recent call last):<br>
&emsp;&nbsp;File "pyshell#34", line 1, in module<br>
&emsp;&emsp; fileLength('idterm.py')<br>
&emsp;&nbsp;File "/Users/me/midterm.py", line 3, in fileLength<br>
&emsp;&emsp; infile = open(filename)<br>
&emsp;FileNotFoundError: [Errno 2] No such file or directory:<br>
&emsp;'idterm.py'<br>
    </div></div>
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:<br>

<div style='margin-left:40px;height:101px;width:500px;background:MintCream;border:1px solid;'>
    <div style='padding:8px;'>
&emsp;>>> fileLength('midterm.py')<br>
&emsp;358<br>
&emsp;>>> fileLength('idterm.py')<br>
&emsp;File idterm.py not found.<br>
</div></div>
</span>
</div>

#### Solution:

In [5]:
def fileLength(fileName):
    try:
        infile = open(fileName, 'r')
        return len(infile.readlines())
    except IOError:
        print('File',fileName,'not found.')

In [6]:
fileLength('q2.txt')

29

In [7]:
fileLength('q1.txt')

File q1.txt not found.

### Question 3
<div style='margin-left:20px;'>
    <p>Write a class named Marsupial that can be used as shown below:</p>
    <div style='margin-left:40px;height:136px;width:400px;background:MintCream;border:1px solid;'>
        <div style='padding:8px;'>
            >>> m = Marsupial()<br>
            >>> m.put_in_pouch('doll')<br>
            >>> m.put_in_pouch('firetruck')<br>
            >>> m.put_in_pouch('kitten')<br>
            >>> m.pouch_contents()<br>
            &emsp;['doll', 'firetruck', 'kitten']<br>
        </div>
    </div>
    <p>
        Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
        attributes of Marsupial and also:
        a. extends the Marsupial __init__ constructor to take, as input, the
        coordinates x and y of the Kangaroo object,
        b. supports method jump that takes number values dx and dy as input and
        moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
        c. overloads the __str__ operator so it behaves as shown below.
    </p>
    <div style='margin-left:40px;height:276px;width:400px;background:MintCream;border:1px solid;'>
        <div style='padding:8px;'>
            >>> k = Kangaroo(0,0)<br>
            >>> print(k)<br>
            &emsp;I am a Kangaroo located at coordinates (0,0)<br>
            >>> k.put_in_pouch('doll')<br>
            >>> k.put_in_pouch('firetruck')<br>
            >>> k.put_in_pouch('kitten')<br>
            >>> k.pouch_contents()<br>
            &emsp;['doll', 'firetruck', 'kitten']<br>
            >>> k.jump(1,0)<br>
            >>> k.jump(1,0)<br>
            >>> k.jump(1,0)<br>
            >>> print(k)<br>
            I am a Kangaroo located at coordinates (3,0)<br>
        </div>
    </div>
</div>

#### Solution:

In [8]:
class Marsupial:
    def __init__(self):
        'initiates an empty list'
        self.pouch = []

    def put_in_pouch(self, item):
        'add items to the pouch'
        self.pouch.append(item)
        
    def pouch_contents(self):
        'returns pouch contents'
        return self.pouch

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        'initiates x and y coordinates'
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        'jumps coordinate along x and y axes'
        self.x += dx
        self.y += dy
    
    def __str__(self):
        'returns string representation'
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

In [11]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [12]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

### Question 4
Implement a new GUI class App that combines user-defined tkinter widget classes<br>
Calculator and Mortgage displayed below: (This question can be done using a .py file)<br>

#### Mortgage tkinter class

<img src="mortage.png" alt="Mortage" width="300" height="500"/>

#### Calculator tkinter class

<img src="calculator.png" alt="calculator" width="300" height="400"/>

#### App tkinter class

<img src="mortage_calculator.png" alt="Mortage calculator" width="400" height="500"/>

### Question 5
&emsp;Write function collatz() that takes a positive integer x as input and prints the <br>
&emsp;Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying<br>
&emsp;this rule to the previous number x in the sequence:<br>
$$ 
\begin{equation}
    x=
    \begin{cases}
      \frac{x}{2}  \hspace{20mm} \text{if x is even}\\ 
      3x + 1 \hspace{14mm} \text{if x is odd}\\
    \end{cases}
\end{equation}
$$

&emsp;Your function should stop when the sequence gets to number 1. Your<br>
&emsp;implementation must be recursive, without any loops.<br>

&emsp;\>>> collatz(1)<br>
&emsp;1<br>
&emsp;\>>> collatz(10)<br>
&emsp; 10 5 16 8 4 2 1

#### Solution:

In [14]:
def collatz(x):
    print(int(x))
    if x <= 1:
        return
    elif x % 2 == 0:
        x = x / 2
    else:
        x = 3*x + 1
    collatz(x)

In [15]:
collatz(10)

10
5
16
8
4
2
1

### Question 6
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

&emsp;\>>> binary(0)<br>
&emsp;0<br>
&emsp;\>>> binary(1)<br>
&emsp;1<br>
&emsp;>>> binary(3)<br>
&emsp;11<br>
&emsp;>>> binary(9)<br>
&emsp;1001<br>

In [16]:
def binary(n):
    if n >= 1:
        print(n % 2, end='')
        binary(n // 2)

In [17]:
binary(9)

1001

## Question 7

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings
in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.



&emsp;>>> infile = open('w3c.html')<br>
&emsp;>>> content = infile.read()<br>
&emsp;>>> infile.close()<br>
&emsp;>>> hp = HeadingParser()<br>
&emsp;>>> hp.feed(content)<br>
&emsp;W3C Mission<br>
&emsp;&nbsp;Principles<br>

In [18]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag = '' 
        
    def handle_starttag(self, tag, attrs):
        self.tag = tag

    def handle_data(self, data):
        if self.tag == 'h1':
            print(data, end='')
        elif self.tag == 'h2':
            print(' '+data, end='')
        elif self.tag == 'h3':
            print('  '+data, end='')
        elif self.tag == 'h4':
            print('   '+data, end='')
        elif self.tag == 'h5':
            print('    '+data, end='')
        elif self.tag == 'h6':
            print('     '+data, end='')

In [19]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

  HTML and CSS
            XML
              JavaScript
            Programming
            Server Side
            Web Building
            XML
            HTML
            CSS
            JavaScript
            Programming
            Server Side
            XML
            Character Sets
            Exercises
            Quizzes
           LOG IN
        HTML Easy Learning with HTML "Try it Yourself"
  Example
 HTML Examples
 HTML Exercises
 Test Yourself With Exercises
 Exercise:
 HTML Quiz Test
 HTML References
 HTML Exam - Get Your Diploma!
 W3Schools' Online Certification
   SHARE
 Report Error

 Thank You For Helping Us!
   Top Tutorials
   Top References
   Top Examples
   Web Certificates

### Question 8
Implement recursive function webdir() that takes as input: a URL (as a string) and<br>
non-negative integers depth and indent. Your function should visit every web<br>
page reachable from the starting URL web page in depth clicks or less, and print<br>
each web page's URL. As shown below, indentation, specified by indent, should<br>
be used to indicate the depth of a URL.<br>


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html<br>
&nbsp;&nbsp;http://reed.cs.depaul.edu/lperkovic/csc242/test2.html<br>
&emsp;&emsp;http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>
&nbsp;&nbsp;http://reed.cs.depaul.edu/lperkovic/csc242/test3.html<br>
&emsp;&emsp;http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>

In [20]:
from urllib.parse import urljoin
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [21]:
from urllib.request import urlopen
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

In [22]:
visited = set()
def webdir(url, depth, indent):
    global visited
    
    if depth == 0:
        return
    print(' '*indent, url)
    indent += 1
    depth -= 1
    
    visited.add(url)
    links = analyze(url)
    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                webdir(link, depth, indent)
            except:
                pass

In [23]:
webdir('http://reed.cs.depaul.edu/lperkovic/', 3,0)

 http://reed.cs.depaul.edu/lperkovic/
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
  http://www.cdm.depaul.edu
  https://reed.cs.depaul.edu/lperkovic/courses/csc321/
   http://www.depaul.edu/Pages/disclaimer.aspx
   http://www.depaul.edu/Pages/contact-us.aspx
   https://go.depaul.edu/passwordreset
  https://reed.cs.depaul.edu/lperkovic/courses/csc421/
  http://reed.cs.depaul.edu/lperkovic/papers/papers.html

### Question 9

&emsp;Write SQL queries on the below database table that return:<br>
&emsp;&emsp;a) All the temperature data.<br>
&emsp;&emsp;b) All the cities, but without repetition.<br>
&emsp;&emsp;c) All the records for India.<br>
&emsp;&emsp;d) All the Fall records.<br>
&emsp;&emsp;e) The city, country, and season for which the average rainfall is between 200<br>
&emsp;&emsp;&emsp;and 400 millimeters.<br>
&emsp;&emsp;f) The city and country for which the average Fall temperature is above 20<br>
&emsp;&emsp;&emsp;degrees, in increasing temperature order.<br>
&emsp;&emsp;g) The total annual rainfall for Cairo.<br>
&emsp;&emsp;h) The total rainfall for each season.<br>

<table>
    <thead>
        <tr>
            <th>City</th>
            <th style='width:100px;'>Country</th>
            <th>Season</th>
            <th>Temperature
                (C)</th>
            <th>Rainfall
                (mm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mumbai</td>
            <td>India</td>
            <td>Winter</td>
            <td>24.8</td>
            <td>5.9</td>
        </tr>
        <tr>
            <td>Mumbai</td>
            <td>India</td>
            <td>Spring</td>
            <td>28.4</td>
            <td>16.2</td>
        </tr>
        <tr>
            <td>Mumbai</td>
            <td>India</td>
            <td>Summer</td>
            <td>27.9</td>
            <td>1549.4</td>
        </tr>
        <tr>
            <td>Mumbai</td>
            <td>India</td>
            <td>Fall</td>
            <td>27.6</td>
            <td>346.0</td>
        </tr>
        <tr>
            <td>London</td>
            <td>United Kingdom</td>
            <td>Winter</td>
            <td>4.2</td>
            <td>207.7</td>
        </tr>
        <tr>
            <td>London</td>
            <td>United Kingdom</td>
            <td>Spring</td>
            <td>8.3</td>
            <td>169.6</td>
        </tr>
        <tr>
            <td>London</td>
            <td>United Kingdom</td>
            <td>Summer</td>
            <td>15.7</td>
            <td>157.0</td>
        </tr>
        <tr>
            <td>London</td>
            <td>United Kingdom</td>
            <td>Fall</td>
            <td>10.4</td>
            <td>218.5</td>
        </tr>
        <tr>
            <td>Cairo</td>
            <td>Egypt</td>
            <td>Winter</td>
            <td>13.6</td>
            <td>16.5</td>
        </tr>
        <tr>
            <td>Cairo</td>
            <td>Egypt</td>
            <td>Spring</td>
            <td>20.7</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td>Cairo</td>
            <td>Egypt</td>
            <td>Summer</td>
            <td>27.7</td>
            <td>0.1</td>
        </tr>
        <tr>
            <td>Cairo</td>
            <td>Egypt</td>
            <td>Fall</td>
            <td>22.2</td>
            <td>4.5</td>
        </tr>
    </tbody>
</table>

In [24]:
import sqlite3 as sqlite
con = sqlite.connect('web.db')
cur = con.cursor()

cur.execute('CREATE TABLE climate(City text, Country text, Season text, Temperature float, Rainfall float)')

In [25]:
records = [('Mumbai','India','Winter', 24.8, 5.9),
('Mumbai','India','Spring', 28.4, 16.2),
('Mumbai','India','Summer', 27.9, 1549.4),
('Mumbai','India','Fall',27.6 ,346.0),
('London','United Kingdom','Winter', 4.2, 207.7),
('London','United Kingdom','Spring', 8.3, 169.6),
('London','United Kingdom','Summer', 15.7, 157.0),
('London','United Kingdom','Fall', 10.4, 218.5),
('Cairo','Egypt','Winter', 13.6, 16.5),
('Cairo','Egypt','Spring', 20.7, 6.5),
('Cairo','Egypt','Summer', 27.7, 0.1),
('Cairo','Egypt','Fall',22.2, 4.5)]

In [26]:
for record in records:
    cur.execute('INSERT INTO climate values(?,?,?,?,?)', record)

#### a) All the temperature data.
##### Solution:

In [27]:
cur.execute('SELECT Temperature FROM climate')

In [28]:
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### b) All the cities, but without repetition.
##### Solution

In [29]:
cur.execute('SELECT DISTINCT(City) FROM climate')

In [30]:
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India
##### Solution

In [31]:
cur.execute('SELECT * FROM climate WHERE Country = "India"')

In [32]:
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records.
##### Solution

In [33]:
cur.execute('SELECT * FROM climate WHERE Season = "Fall"')

In [34]:
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
##### Solution

In [35]:
cur.execute('SELECT City, Country, Season FROM climate WHERE Rainfall between 200 AND 400')

In [36]:
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
##### Solution

In [37]:
cur.execute('SELECT City, Country FROM climate WHERE Season="Fall" AND Temperature > 20 ORDER BY Temperature DESC')

In [38]:
cur.fetchall()

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

#### g) The total annual rainfall for Cairo.
##### Solution

In [39]:
cur.execute('SELECT SUM(Rainfall) FROM climate WHERE City= "Cairo"')

In [40]:
cur.fetchall()

[(27.6,)]

#### h) The total rainfall for each season.
##### Solution:

In [41]:
cur.execute('SELECT Season, SUM(Rainfall) FROM climate GROUP BY Season')

In [42]:
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 10

<div style='margin-left: 10px;'>
Suppose list words is defined as follows:<br>
&emsp;>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']<br>
Write list comprehension expressions that use list words and generate the following lists:<br>
<div style='margin-left: 40px;'>
<ol style='list-style-type: lower-alpha;'>
    <li> ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
        'LAZY', 'DOG']</li>
    <li> ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
        'lazy', 'dog']</li>
    <li> [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
        words).</li>
    <li> [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
        'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
        ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
        4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
        words, where each list contains the word in uppercase and lowercase and the
        length of the word.)</li>
    <li> ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
        'lazy', 'dog'] (the list of words in list words containing 4 or more
        characters.)</li>
</ol>
</div>
</div>

In [43]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#### a.&emsp;['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
##### Solution:

In [44]:
words_one = [word.upper() for word in words]

In [45]:
words_one

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b.&emsp;['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
##### Solution:

In [46]:
words_two = [word.lower() for word in words]

In [47]:
words_two

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c.&emsp;[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
##### Solution:

In [48]:
words_three = [len(word) for word in words]

In [49]:
words_three

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d.&emsp;[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
##### Solution:

In [50]:
words_four = [[word.upper(), word.lower(), len(word)] for word in words]

In [51]:
words_four

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

#### e.&emsp;['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
##### Solution:

In [52]:
words_five = [word for word in words if len(word) >= 4]

In [53]:
words_five

['quick', 'brown', 'jumps', 'over', 'lazy']